<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>com.quizolute.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EmptyFormFilter</filter-name>
        <filter-class>com.quizolute.filter.EmptyFormFilter</filter-class>
    </filter>
    <filter>
        <filter-name>IndexFilter</filter-name>
        <filter-class>com.quizolute.filter.IndexFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IndexFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>JoinRoomServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>StartQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>AdminPanelServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>HomeServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>LogoutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ExamServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>EditProfileServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ExitRoomServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>CreateRoomServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>CreateQuestionSetServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>EditQuestionSetServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>EditRoomServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ManageQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ManageRoomServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>JoinRoomServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.JoinRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeederServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.SeederServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoomServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.AdminPanel.CreateRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPanelServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.AdminPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitRoomServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.ExitRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.ExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestInfoServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.TestInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportSummaryServlet</servlet-name>
        <servlet-class>com.quizolute.service.ExportSummaryService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionSetServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.AdminPanel.CreateQuestionSetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.CreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.AdminPanel.EditRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminWaitinngPageService</servlet-name>
        <servlet-class>com.quizolute.service.AdminWaitingPageSerivce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartQuizServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.StartQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserWaitingPageService</servlet-name>
        <servlet-class>com.quizolute.service.UserWaitingPageService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsUserInRoomService</servlet-name>
        <servlet-class>com.quizolute.service.IsUserInRoomService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageQuizServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.AdminPanel.ManageQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRoomServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.AdminPanel.ManageRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionSetServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.AdminPanel.EditQuestionSetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionSetServlet</servlet-name>
        <servlet-class>com.quizolute.servlet.AdminPanel.DeleteQuestionSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoinRoomServlet</servlet-name>
        <url-pattern>/JoinRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeederServlet</servlet-name>
        <url-pattern>/Seeder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPanelServlet</servlet-name>
        <url-pattern>/AdminPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitRoomServlet</servlet-name>
        <url-pattern>/ExitRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestInfoServlet</servlet-name>
        <url-pattern>/TestInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/Exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/CreateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionServlet</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminWaitinngPageService</servlet-name>
        <url-pattern>/api/UserInRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartQuizServlet</servlet-name>
        <url-pattern>/StartQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserWaitingPageService</servlet-name>
        <url-pattern>/api/UserWaiting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsUserInRoomService</servlet-name>
        <url-pattern>/api/IsUserInRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageQuizServlet</servlet-name>
        <url-pattern>/AdminPanel/ManageQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRoomServlet</servlet-name>
        <url-pattern>/AdminPanel/ManageRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionSetServlet</servlet-name>
        <url-pattern>/AdminPanel/CreateQuestionSet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoomServlet</servlet-name>
        <url-pattern>/AdminPanel/CreateRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomServlet</servlet-name>
        <url-pattern>/AdminPanel/EditRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportSummaryServlet</servlet-name>
        <url-pattern>/AdminPanel/ExportSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionSetServlet</servlet-name>
        <url-pattern>/AdminPanel/EditQuestionSet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionSetServlet</servlet-name>
        <url-pattern>/AdminPanel/DeleteQuestionSet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
